.container {
    display: flex;
    background-color: #F3F3F3;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content {
    width: 65%;
    box-shadow: 0px 2px 10px rgba(128, 128, 128, 0.2);
    background-color: white;
    height: 400px;
    margin-top: 40px;
}

.title {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    justify-content: center;
    text-align: center;
    font-size: 28px;
}

.vagas_container {
    display: flex;
    width: 100%;
    padding: 0;
    margin-top: 70px;
    align-items: center;
    justify-content: center;
}

hr {
    width: 80%;
}

.grid_linhas {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    justify-content: center;
    margin-left: 10%;
    text-align: center;
}

.linha_vertical_transparente {
    display: flex;
    height: 12em;
    border-color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.linha_vertical {
    display: flex;
    height: 12em;
    border-left: 1.5px solid;
    border-color: rgb(147, 147, 147);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.vagas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.vaga {
    width: 70%;
    height: 12em;
    margin-top: 15px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.vaga:hover {
    transform: scale(1.08);
}

.vaga_marcacao {
    margin-top: 16%;
    font-family: sans-serif;
    font-weight: 700;
    color: rgb(148, 148, 148);
    font-size: 14px;
}